.skillContainer{
    width:100%;
    height:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

.imgSkillContainer{
    width:90%;
    margin:auto;  
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding:15px;
}

.skill, .form{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;    
    justify-content:center;
    align-items:center;
    padding:15px;
}


/* .form{
    height:300px;
} */
.img{
    padding:15px;       
   
}

.img-button{
    margin: 15px;
    display:flex;
    justify-content:center;
   
}