.AboutContainer {
    width: 100%;
    height: 100%;
    background-image: url('../../img/5026598.jpg');
    

    .infoContainer {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;




    }

}

.wraper {
    width: 80%;
    margin: 50px auto 0 auto;
    background-color: #FFFFFF;
    border-radius: 15px 15px  0 0;    
    display: flex;
    justify-content: space-between;

    padding: 15px;

    div {
        width: 50%;
        margin: auto;
    }

    .title {
        width: 100%;
        display: flex;
        flex-direction: column;

        span:nth-child(1) {
            width: 150px;
            font-family: 'Playfair Display', serif;
            margin: 0 0 41px 0;
            font-size: 15px;
        }

        h2 {
            font-size: 50px;
            font-family: 'Playfair Display', serif;
        }


        span:nth-child(3) {
            width: 400px;
            font-family: 'Playfair Display', serif;
            margin: 41px 0;
            padding: 21px 0 41px 20px;
            font-size: 15px;
            color: red;
        }

    }


}

.textoBody {
    width: 80%;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 0px 0 15px 15px;        
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    h2 {
        width: 100%;
        margin: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Playfair Display', serif;
        font-size: 71px;
    }

    span {
        width: 50%;
        margin: 40px auto;
        text-align:left;
        font-family: 'Raleway', sans-serif;
        font-size:17px;
    }

}









img {
    width: 220px;
    height: 280px;
    border-radius: 10px;
}

// .aboutMeCardContainer {
//     max-width: 100%;
//     margin: auto;
//     height: auto;

//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     h2 {
//         margin: 15px;
//         padding: 15px;
//         font-family: 'Playfair Display', serif;
//     }





//         .aboutMeInfo {
//             font-family: 'Raleway', sans-serif;
//             font-size: 20px;
//         }
//     }
// }

//     @media screen and (max-width: 788px) {
//         h2 {
//             margin: 5px;
//             padding: 5px;
//         }

//         .infoContainer {
//             width: 100%;
//             margin: auto;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;

//             div {
//                 width: 90%;
//                 margin: 15px auto;
//                 display: flex;
//                 justify-content: center;

//                 img {
//                     width: 150px;
//                     height: 180px;
//                 }

//                 .aboutMeInfo {
//                     width: 100%;
//                     font-size: 10px;
//                 }
//             }

//         }
//     }


// }