.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
        width: 50%;
        margin: auto;

        
       
    } 

    .spinner {
        width: -8%;
        margin: auto;
        
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        flex-direction: column;
        justify-content:center ;
        
        div {
            width: 100%;
        }
    }
}



.fContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.izq {
    width: 50%;
    margin: 0 auto;

    img {
        width: 550px;
        margin: 15px 0 15px 15px;
        padding-left: 30px;
    }

    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;


        img {
            width: 300px;
            margin: 10px auto;

        }
    }

}


.formularioLogin {
    width: 100%;
    margin: 5px auto;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h4 {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Playfair Display', serif;
        color: black;
        padding: 5px;
        font-size: 50px;
        text-align: center;
    }


    form {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .fieldLogin {
            text-align: center;
            width: 90%;
            margin: 15px auto;


            label {
                padding: 10px;
                font-family: 'Playfair Display', serif;
                color: black;
                font-size: 17px;
            }

            .textWarning {
                width: 100%;
                font-size: 17px;
                color: red;
                font-family: 'Playfair Display', serif;
                padding: 10px;
            }
        }

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}



@media screen and (max-width: 1050px) {
    .fContainer {
        flex-direction: column;
        width: 100%;

        div {
            width: 100%;
        }



    }

    .formularioLogin {
        width: 100%;
        margin: auto;

        form {
            width: 100%;

            .fieldLogin {
                width: 100%;
                margin: 15px auto;

                input {
                    width: 100%;
                }
            }
        }
    }
}