.fContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div {
        width: 50%;
    }

    .izq {
        img {
            width: 80%;
            margin: 15px 0 15px 15px;
            padding-left: 30px;
        }
    }
}



.formularioLogin {
    width: 50%;
    margin: 5px auto;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h4 {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Playfair Display', serif;
        color: black;
        padding: 5px;
        font-size: 50px;
    }


    form {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .fieldLogin {
            text-align: center;
            width: 90%;
            margin: 15px auto;


            label {
                padding: 10px;
                font-family: 'Playfair Display', serif;
                color: black;
                font-size: 17px;
            }

            .textWarning {
                width: 100%;
                font-size: 17px;
                color: red;
                font-family: 'Playfair Display', serif;
                padding: 10px;
            }
        }

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}



@media screen and (max-width: 1050px) {
    .fContainer {
        flex-direction: column;
        width: 100%;

        div {
            width: 100%;
        }

        .izq {
            width: 100%;
            margin: auto;
            padding: 0;

            img {
                width: 90%;
                margin: 15px auto;
            }
        }

    }

    .formularioLogin {
        width: 100%;
        margin: auto;

        form {
            width: 100%;

            .fieldLogin {
                width: 80%;
                margin: 15px auto;
            }
        }
    }
}