.portfolioSection {
  background-color: rgb(7, 7, 7);
  margin-top: 27px;
  height: 100%;
}


.cuerpoEfecto {
  position: relative;
  margin: 20px auto;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;

  &:hover {
    box-shadow: 0px 20px 100px 25px rgba(247, 7, 7, 0.76);
    transition: 1s box-shadow;

  }

}



.visitar {
  color: black;
  text-decoration: none;

  &:hover {
    color: black;    
  }

}