.AddProyectContainer {
    width: 90%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario {
    width: 80%;
    margin: 15px auto;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    .buttonDiv {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input,
    button {
        margin: 10px;
    }

    input {

        max-width: 100%;
    }




}
.h2{
    font-family: 'Playfair Display', serif;
    margin:12px;
}


@media screen and (max-width: 768px) {
    .AddProyectContainer {
        width: 100%;
    }

}