.AddProyectContainer {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.formulario {
    width: 340px;
    height: 440px;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    background: #e6e6e6;

    .buttonDiv {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input,
    button {
        margin: 10px;
    }

    input {
        max-width: 100%;
    }




}

.h2 {
    font-family: 'Playfair Display', serif;
    margin: 10px 0;
    padding-bottom: 10px;
    width: 40%;
    color: white;
    border-bottom: 3px solid #e4e4e6
}


@media screen and (max-width: 768px) {
    .AddProyectContainer {
        width: 100%;
    }

    h2{
        margin: 5px 0;
        padding-bottom: 0px;
    }
}