.formularioContacto {
  margin-top: 0px;
  // background: linear-gradient(to right, #434343 0%, #eb466b 100%);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../../img/bg1.png');
  background-position-x: -650px;
  background-position-y: 850px;

  @media screen and (max-width: 780px) {
    background-image: none;
    background-color: black;
  }


}


.background {
  display: flex;
  min-height: 92vh;
}

.container {
  width: 90%;
  flex: 1;
  margin: auto;
  padding: 10px;
  margin-left: 400px;

  @media screen and (max-width: 780px) {
    margin-left: 0px;
  }

}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;

  }



  .screenHeader {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #2d2dbb;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .screenHeaderLeft {
    margin-left: 10px;

  }

  .screenHeaderButton {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }

  .close {
    background: #ed1c6f;
  }

  .maximize {
    background: #e8e925;
  }

  .minimize {
    background: #74c54f;
  }



  .screenHeaderRight {
    display: flex;
    margin-left: 10px;

    .screenHeaderEllipsis {
      width: 3px;
      height: 3px;
      margin-left: 3px;
      border-radius: 8px;
      background: #999;
    }
  }



  .screenBody {
    display: flex;


    .screenBodyItem {
      flex: 1;
      padding: 70px;

      .left {
        display: flex;
        flex-direction: column;
      }

    }


    @media screen and (max-width: 780px) {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      .screenBody {
        width: 80%;
        margin: auto;
      }

      .screenBodyItem {
        padding: 20px;
      }

    }

  }



  .appTitle {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0 0.4em 0 #fffc00;
    animation: glitch 1000ms infinite;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 25px;
      height: 4px;
      background: #ea1d6f;
    }

  }


  .appContact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-size: 20px;
    color: #888;

    img {
      width: 20px;
    }

  }


  .appFormGroup {
    margin-bottom: 15px;
    width: 300px;

    .message {
      margin: 40px 0;

    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      text-align: left;
    }

  }



  .appFormControl {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;

    &::placeholder {
      color: #666;
    }

    &:focus {
      border-bottom-color: #ddd;
    }

  }



  .appFormButton {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;

    &:hover {
      color: #b9134f;

    }

  }



  .appContact img {
    width: 20px;
    transition: width 2s;

    &:hover {
      width: 50px;
    }

  }


  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }

  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }

    15% {
      text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }


  }
}