.navBar{
    display: flex;
    justify-content:space-between;
    height: 8vh;
    box-shadow: 2px 2px 2px rgb(189, 170, 170);

    .left{
        display: flex;
        align-items: center;
        margin-left: 10px;

        .menu-icon{
            font-size: 3em;
            margin-right: 1em;
            display:flex;
            position: relative;
            cursor: pointer;
           
        }
    }

    .rigth{
        margin-right: 20px;
        padding-right: 20px;
        text-shadow: 2px 2px 20px rgb(12, 12, 12);
        align-self: center;
    }
}


.nav-item{
    position: fixed;
    top: -100%;
    display: flex;
    width: 15%;
    height: 45vh;
    background-color: transparent;
    z-index: 1000;
    transition: 1s ease-in-out;  
}

    .nav-item.active{
        left: 4%;           
        top: 5px;
        transition: 1s ease-in-out; 
        border: 1px black solid;
        background-color: black;
         border-radius: 10px;
        }
        .menu-item{           
            height: 40px;
            list-style: none;
            padding: 40px;
            width: 100%;
            font-size: 1em;
        }
       .menu-item a{
            text-decoration: none;
            color: rgb(175, 60, 60);
            font-weight: bolder;
            text-transform: uppercase;
            text-shadow: 2px 2px 15px #fff;
            
            padding: 10px;
            border-radius: 10px;
            
        }

$breakpoint-cell: 500px;
@media (max-width: $breakpoint-cell)
{
    .navBar{
        .rigth{
            font-size: 10px;
            text-shadow: 2px 2px 10px rgb(12, 12, 12);
        }

    }
    
    .nav-item{
        width: 50%;
        height: 40vh;
        
    }


    
    .menu-item{
        font-size: 1em;        
    }

    .menu-item a{
        border: 1px black solid;
        padding: 10px;
        border-radius: 10px;
        background-color: black;
    }


}

@media screen  and (min-width: 680px) and (max-width: 688px)
{   .navBar{
    margin: 15px 0;
    padding: 20px 0;
}


    .nav-item{
    width: 30%;
    height: 73vh; 
}

.nav-item.active{
        top: 2px;
        left: 55px;       
    }
    .menu-item{
        font-size: 1em;        
    }




}

$breakpoint-tablet0: 690px;
$breakpoint-tablet1: 850px;
@media (min-width: $breakpoint-tablet0) and (max-width: $breakpoint-tablet1){
.nav-item{
    width: 40%;
    height: 25vh;    
}
    .nav-item.active{
        top: 2px;
        left: 55px;
       
    }

}