* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@300&display=swap');

/*
Titulos
font-family: 'Playfair Display', serif;
Texto
font-family: 'Raleway', sans-serif;

*/
.menuCpanel {
    width: 150px;
}

.bgColorSections{
    background-color: rgb(26, 20, 20); 
}

@media screen and (max-width:576px) {
    .menuCpanel {
        width: 100%;
    }
}